html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100vh;
    width: 100vw;

    padding: 0;
    border: 0;
    margin: 0;
    overflow: hidden;

    font-family: 'Poppins', sans-serif;
}

body {
    color: white;
    background-color: #101320;
}

a {
    text-decoration: none;
}

a:visited { 
    color: white; 
}

a:hover { 
    color: cyan; 
}

#app {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
}

#img-container {
    display: grid;
    grid-template-columns: 70% 1fr;
    padding: 0;
    margin: 0;
    background-color: black;
}

#img-container > div {
    margin: 0;
}

#img-carousel > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#filmstrip {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
}

.filmstrip-thumbnail {
    height: 80px;
    width: auto;
    max-width: 120px;
}

.filmstrip-thumbnail > img {
    height: 100%;
}
