body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

/* font-family: 'Roboto Mono', monospace;
   font-family: 'Poppins', sans-serif; */

/* BACKGROUNDS */
.backdrop {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    z-index: -100;
}

/* MAIN WINDOW & NAVBAR */
.mainwindow {
    min-height: 80%;
    width: 60%;
    margin: 0px auto 60px auto; 
    background-color: white;
}

.page-title {
    font-family: 'Roboto Mono', monospace;
}

.page-content {
    padding: 10px 10px 20px 20px;
}

.nav-link {
    font-family: 'Roboto Mono', monospace;
}

/* BLOG */
.posts {
    list-style-type: none;
}

.posts li {
    margin-bottom: 30px;
}

.post-link-div {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    font-size: 16px;
    font-color: gray;
}

.post-description {
    font-size: 16px;
}