/* GENERAL */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
}

body {
    font-family: 'Poppins', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.font-roboto {
    font-family: 'Roboto Mono', monospace;
}

.text-container {
    padding: 0px 32px 12px 32px;
    text-align: justify;
}

.color-white {
    color: white;
}

.background-dark {
    background-color: #101320;
}

.rounded-bottom {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.separator {
    display: block;
    width: 80%;
    height: 0px;
    margin: 12px auto 48px auto;
    border-radius: 2px;
    background-color: #888888;
}

.link-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    
    -webkit-transition: height 0.1s ease-out;
    -moz-transition: height 0.1s ease-out;
    -o-transition: height 0.1s ease-out;
    transition: height 0.1s ease-out;
}

.link-icon:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.link-icon-mirror-horz {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-transition: height 0.1s ease-out;
    -moz-transition: height 0.1s ease-out;
    -o-transition: height 0.1s ease-out;
    transition: height 0.1s ease-out;
}

.link-icon-mirror-horz:hover {
    -webkit-transform: scale(-1.05, 1.05);
    -moz-transform: scale(-1.05, 1.05);
    -o-transform: scale(-1.05, 1.05);
    transform: scale(-1.05, 1.05);
}

.social-link:nth-child(1) {
    animation-name: socialLink1SlideIn;
    animation-delay: 1.6s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes socialLink1SlideIn {
    from {
        transform: translateY(-12px);   
        opacity: 0.0;
    }

    to {
        transform: translateY(0px);
        opacity: 1.0;
    }
}

.social-link:nth-child(2) {
    animation-name: socialLink2SlideIn;
    animation-delay: 1.8s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes socialLink2SlideIn {
    from {
        transform: translateY(-12px);   
        opacity: 0.0;
    }

    to {
        transform: translateY(0px);
        opacity: 1.0;
    }
}

.social-link:nth-child(3) {
    animation-name: socialLink3SlideIn;
    animation-delay: 2.0s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes socialLink3SlideIn {
    from {
        transform: translateY(-12px);   
        opacity: 0.0;
    }

    to {
        transform: translateY(0px);
        opacity: 1.0;
    }
}

/* font-family: 'Roboto Mono', monospace;
   font-family: 'Poppins', sans-serif; */

/* BACKDROPS */
.backdrop {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    z-index: -100;
}

/* MAIN WINDOW & NAVBAR */
.mainwindow {
    min-height: 80%;
    width: 60%;
    margin: 0 auto 120px auto; 
    padding: 0 0 24px 0;
    background-color: white;
}

#navbar {
    padding: 12px 20px 12px 20px;
}

.navbar-table {
    width: 100%;
}

#navbar-home-link {
    font-size: 2em;
}

.navbar-menu-left {
    text-align: left;
}

.navbar-menu-right {
    text-align: right;
}

.navbar-menu-list-item {
    display: inline-block;
    margin: 0 0 0 18px;
}

.navbar-menu-list-item a {
    font-size: 1.25em;
}

.navbar-menu-list-item a:hover {
    color: #00ddff;
}

/* HOME */
#home-banner {
    position: relative; /* needed to align home-banner-card to bottom */
    width: 100%;
    height: 400px;
    background-image: url('../images/bg-1.jpg');
    background-position: center;
    background-size: cover;
/*    -webkit-filter: blur(2px);
    filter: blur(2px);*/
}

#home-banner-card {
    position: absolute;
    margin-left: 10%;
    width: 90%;
    height: 236px;
    bottom: 0;
    margin-bottom: 36px;
}

#home-banner-spacer {
    display: inline-block;
    margin-left: 12px;
}

#home-banner-textbox {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#home-banner-name {
    font-size: 2em;
    font-weight: 600;

    animation-name: nameSlideIn;
    animation-delay: 1.2s;
    animation-duration: 1.0s;
    animation-fill-mode: both;
}

@keyframes nameSlideIn {
    from {
        transform: translateY(-12px);
        opacity: 0.0;
    }

    to {
        transform: translateY(0px);
        opacity: 1.0;
    }
}

#home-banner-description {
    font-size: 1.25em;
    font-weight: 400;
    margin-top: -12px;

    animation-name: descriptionSlideIn;
    animation-delay: 1.4s;
    animation-duration: 1.0s;
    animation-fill-mode: both;
}

@keyframes descriptionSlideIn {
    from {
        transform: translateY(-12px);
        opacity: 0.0;
    }

    to {
        transform: translateY(0px);
        opacity: 1.0;
    }
}

/*@media screen and (max-width: 768px) {
    #home-banner-name {
        font-size: 1.25em;
    }

    #home-banner-description {
        font-size: 0.8em;
    }
}*/

#home-banner-social-icons {
    display: block;
    margin: 6px 0 24px 0;
}

.home-banner-portrait-div {
    position: static;
    display: inline;
}

.home-banner-portrait {
    display: block;
    border: 12px solid black;
    border-radius: 50%;
    float: left;
    height: 100%;

    animation-name: portraitFlipIn;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes portraitFlipIn {
    from {
        transform: rotateY(90deg);
        opacity: 0.0;
    }

    to {
        transform: rotateY(0deg);
        opacity: 1.0;
    }
}

.timeline-when {
    display: inline-block;
    width: 120px;
}

#carousel-gallery{
    width: 100%;
    height: 800px;
}

    #carousel-canvas {
        width: 100%;
        height: 75%;
    }

    #carousel-list {
        width: 100%;
        height: 25%;
    }

.project-container {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    border-bottom: 3px solid rgba(127, 127, 127, 0.5);
}

.project-thumbnail {
    display: block;
    padding-top: 24px;
    min-width: 30%;
}

.project-thumbnail img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.project-description {
    display: block;
    padding: 0 24px 0 12px;
}

.skills-label {
    padding-right: 18px;
}

/* BLOG */
.posts {
    list-style-type: none;
}

.posts > li {
    display: flex;
    margin-bottom: 30px;
}

.post-thumbnail {
    display: inline-block;
    flex: 0 0 100px;
    height: 100px;
    width: 100px;
    border: 6px solid black;
    border-radius: 15%;
    overflow: hidden;
}

.post-thumbnail img {
    height: 100%;
}

.post-text {
    display: inline-block;
    flex: 4 0 50%;
    padding: 0 0 0 12px;
    height: 100%;
}

.post-link {
    font-size: 1.5em;
    font-weight: bold;
}

.post-link:hover {
    color: #00ddff;
}

.post-date {
    font-size: 1em;
    font-color: gray;
}

.post-description {
    font-size: 1em;
    line-height: 95%;
}

.post-img {
    max-width: 100%;
}

.code-block {
    padding: 8px 0 8px 0;
    border: 3px inset gray;
    background-color: #dddddd;
    overflow: auto;
    text-align: left;
    white-space: nowrap;
    font-family: 'Roboto Mono', monospace;
}

.code-block div {
    padding: 0 8px 0 16px;
}

.code-block div:nth-child(even) {
    background-color: #cccccc;
}

.code-inline {
    font-family: 'Roboto Mono', monospace;
}

.share-blog-post-button {
    position: relative;
}

.copy-button {
    /*position: absolute;
    right: 0;*/
    padding-left: 8px;
    opacity: 0.4;
}

.copy-button:hover {
    opacity: 1.0;
}

#copy-holder {
    position: absolute;
    left: -9999px;
    font-size: 2px;
}

.copied-message {
    position: absolute;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 0.2em;
    color: white !important;
    background-color: #101320 !important;
    pointer-events: none;
    opacity: 0.0;
}