.backdrop {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #00aaff;
    z-index: -100;
}

.mainwindow {
    min-height: 80%;
    width: 80%;
    margin: 20px auto 40px auto; 
    background-color: white;
}