body {
    overflow: hidden;
}

.backdrop {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    z-index: -100;
}

.mainwindow {
    min-height: 80%;
    width: 80%;
    padding: 10px 10px 20px 20px;
    margin: 60px auto 60px auto; 
    background-color: white;
}