/* GENERAL */
html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
}

body {
    /*overflow: hidden;*/
    font-family: 'Poppins', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

.font-roboto {
    font-family: 'Roboto Mono', monospace;
}

.text-container {
    padding: 0px 32px 12px 32px;
    text-align: justify;
}

.color-white {
    color: white;
}

.background-dark {
    background-color: #101320;
}

.rounded-bottom {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.separator {
    display: block;
    width: 80%;
    height: 0px;
    margin: 12px auto 48px auto;
    border-radius: 2px;
    background-color: #888888;
}

.link-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 8px;
}

.mirror-horz {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* font-family: 'Roboto Mono', monospace;
   font-family: 'Poppins', sans-serif; */

/* BACKDROPS */
.backdrop {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    z-index: -100;
}

/* MAIN WINDOW & NAVBAR */
.mainwindow {
    min-height: 80%;
    width: 60%;
    margin: 0 auto 120px auto; 
    padding: 0 0 24px 0;
    background-color: white;
}

#navbar {
    padding: 12px 20px 12px 20px;
}

.navbar-table {
    width: 100%;
}

#navbar-home-link {
    font-size: 32px;
}

.navbar-menu-left {
    text-align: left;
}

.navbar-menu-right {
    text-align: right;
}

.navbar-menu-list-item {
    display: inline-block;
    margin: 0 0 0 18px;
}

.navbar-menu-list-item a {
    font-size: 18px;
}

.navbar-menu-list-item a:hover {
    color: #00ddff;
}

/* HOME */
#home-banner {
    position: relative; /* needed to align home-banner-card to bottom */
    width: 100%;
    height: 400px;
    background-image: url('../images/bg-1.jpg');
    background-position: center;
    background-size: cover;
/*    -webkit-filter: blur(2px);
    filter: blur(2px);*/
}

#home-banner-card {
    position: absolute;
    margin-left: 10%;
    width: 90%;
    height: 50%;
    bottom: 0;
    margin-bottom: 24px;
}

#home-banner-spacer {
    display: inline-block;
    margin-left: 12px;
}

#home-banner-textbox {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#home-banner-name {
    font-size: 42px;
    font-weight: 600;
}

#home-banner-description {
    font-size: 20px;
    font-weight: 400;
    margin-top: -12px;
}

@/*media screen and (max-width: 768px) {
    #home-banner-name {
        font-size: 32px;
    }

    #home-banner-description {
        font-size: 16px;
    }
}*/

#home-banner-social-icons {
    display: block;
    margin: 6px 0 24px 0;
}

.home-banner-portrait {
    position: static;
    display: inline;
    border: 6px solid black;
    border-radius: 50%;
    float: left;
    height: 100%;
}

.timeline-when {
    display: inline-block;
    width: 120px;
}

.project-container {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    border-bottom: 3px solid rgba(127, 127, 127, 0.5);
}

.project-thumbnail {
    display: block;
    padding-top: 24px;
    min-width: 30%;
}

.project-thumbnail img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.project-description {
    display: block;
    padding: 0 24px 0 12px;
}

.skills-label {
    padding-right: 18px;
}

/* BLOG */
.posts {
    list-style-type: none;
}

.posts li {
    height: 70px;
    margin-bottom: 30px;
}

.post-thumbnail {
    display: inline-block;
    height: 100%;
    border: 6px solid black;
    border-radius: 15%;
    overflow: hidden;
}

.post-thumbnail img {
    max-width: 100%;
    height: 100%;
}

.post-text {
    display: inline-block;
    padding: 0 0 0 12px;
    height: 100%;
}

.post-link {
    font-size: 24px;
    font-weight: bold;
}

.post-link:hover {
    color: #00ddff;
}

.post-date {
    font-size: 16px;
    font-color: gray;
}

.post-description {
    font-size: 16px;
}