html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
}

body {
    /*overflow: hidden;*/
    font-family: 'Poppins', sans-serif;
}

/* font-family: 'Roboto Mono', monospace;
   font-family: 'Poppins', sans-serif; */

/* BACKGROUNDS */
.backdrop {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    z-index: -100;
}

/* MAIN WINDOW & NAVBAR */
.mainwindow {
    min-height: 80%;
    width: 60%;
    margin: 0px auto 60px auto; 
    background-color: white;
}

.page-title {
    font-family: 'Roboto Mono', monospace;
}

/*.page-content {
    padding: 10px 10px 20px 20px;
}*/

.nav-link {
    font-family: 'Roboto Mono', monospace;
}

/* HOME */
#home-banner {
    position: relative; /* needed to align home-banner-card to bottom */
    width: 100%;
    height: 500px;
    background-image: url('../images/bg-1.jpg');
    background-position: center;
    background-size: cover;
/*    -webkit-filter: blur(2px);
    filter: blur(2px);*/
}

#home-banner-card {
    position: absolute;
    margin-left: 10%;
    width: 90%;
    height: 40%;
    bottom: 0;
}

#home-banner-spacer {
    display: inline-block;
    margin-left: 12px;
}

#home-banner-textbox {
    position: absolute;
    width: 50%;
    bottom: 0;
    background-color: #00ddff;
}

#home-banner-name {
    font-size: 28px;
    font-weight: 600;
}

#home-banner-description {
    font-size: 18px;
    font-weight: 400;
    margin-top: -8px;
}

#home-banner-social-icons {
    display: block;
}

.social-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    background-color: #00ffaa;
}

.circular-portrait {
    position: static;
    display: inline;
    border: 4px solid white;
    border-radius: 50%;
    float: left;
    height: 100%;
}

#biography-container {
    padding: 12px 32px 6px 32px;
    text-align: justify;
}

#timeline-container {
    height: 500px;
    padding: 6px 12px 6px 12px;
    background-color: #00ddff;
}

.timeline-row {
    /*display: block;*/
}

/* BLOG */
.posts {
    list-style-type: none;
}

.posts li {
    margin-bottom: 30px;
}

.post-link-div {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    font-size: 16px;
    font-color: gray;
}

.post-description {
    font-size: 16px;
}