{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" charset="utf-8">
    <title>My Photos</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/photos.css' %}">
  </head>
  <body>
    <div id="app">
      {% include 'navbar.html' %}
      <div id="img-container">
        <div id="img-carousel"></div>
        <div id="filmstrip">
          <filmstrip-thumbnail 
            v-for="im in images"
            v-bind:im="im"
            v-bind:key="im.id"
          ></filmstrip-thumbnail>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static 'openseadragon-bin-2.4.0/openseadragon.min.js' %}"></script>
    <script>
      Vue.options.delimiters = ['{V', 'V}']; // standalone only

      var imgCarousel = new Vue({
        el: '#img-carousel',
        data: {
          src: "{% static 'images/zoom/goat.jpeg' %}"
        }
      })

      var viewer = OpenSeadragon({
        id: 'img-carousel',
        prefixUrl: "{% static 'openseadragon-bin-2.4.0/images/' %}",
        tileSources: {
          type: 'image',
          url: imgCarousel.src
        }
      });

      Vue.component('filmstrip-thumbnail', {
        props: ['im'],
        template: " \
          <div class='filmstrip-thumbnail'> \
            <img :src='im.source' :alt='im.alttext' /> \
          </div>"
      })

      var filmstrip = new Vue({
        el: '#filmstrip',
        data: {
          images: [
            {
              id: 0,
              source: "{% static 'images/zoom/goat.jpeg' %}",
              alttext: "Goat"
            },
            {
              id: 1,
              source: "{% static 'images/zoom/egret.jpg' %}",
              alttext: "Egret"
            }
          ]
        }
      })
    </script>
  </body>

</html>