{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
  </head>
  <body>
    {% block body %}
      <!-- ADD A NAVIGATION BAR -->

      {% block backdrop %}
        <div id="WebGL-Canvas" class="backdrop"></div>
      {% endblock backdrop %}

      <!-- fixes container margin bug -->
      <div style="height: 1px;"></div>

      <div class="container rounded mainwindow">
        {% block content %}
        {% endblock content %}
      </div>
    {% endblock body %}
  </body>
  
  <!-- JQUERY -->
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

  <!-- BOOTSTRAP -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

  {% block backdrop_js %}
    <script src="{% static 'js/three/three.min.js' %}"></script>
    <script src="{% static 'js/three/FBXLoader2.js' %}"></script>
    <script src="{% static 'js/three/FresnelShader.js' %}"></script>
    <script src="{% static 'js/three/HorseThreeHelpers.js' %}"></script>
  
    <!-- STATIC RESOURCES -->
    <script>
      var audio_url = "{% static '3d_assets/audio/aquaticAmbience.mp3' %}";
      var seafloor_url = "{% static '3d_assets/seafloor.fbx' %}";
      var cubemap_url = "{% static '3d_assets/cubemaps/HornstullsStrand/' %}";
    </script>
    <script src="{% static 'js/pages/basepage.js' %}"></script>
  {% endblock backdrop_js %}
</html>

