{% load static %}

<div class="text-container">
  <a id="blog-return-link" href="#">
    <img class="link-icon-mirror-horz" src="{% static 'vectors/iconmonstr-arrow-61.svg' %}" alt="Return" />
  </a>

  <a class="share-blog-post-button" href="{% url 'blog' %}?post-id={{ post.pk }}" onclick="copyLinkToClipboard(this)">
    <img class="link-icon" src="{% static 'vectors/iconmonstr-share-1.svg' %}" alt="Share" />
    <div class="copied-message">Copied!</div>
  </a>

  <a id="copy-button-template" class="hidden" href="#">
    <img class="link-icon copy-button" src="{% static 'vectors/iconmonstr-copy-14.svg' %}" alt="Copy" />
    <div class="copied-message">Copied!</div>
  </a>

  <h1 id="title-tag">{{ post.title }}</h1>

  <div class="separator"></div>

  <div class="page-content">
    {% if post.get_html %}
      {{ post.get_html }}
    {% else %}
      ERROR
    {% endif %}

    <!-- INCLUDE DISQUS COMMENTS LATER -->
  </div>
</div>