{% extends 'base.html' %}

{% block title %}Blog - {{ block.super }}{% endblock %}

{% block content %}
  <div class="page-title">
    <h1>Blog</h1>
  </div>

  <div class="page-content">
    <ul>
      {% for post in posts %}
        <li>
          <a class="post-link">{{ post.title }}</a>
          <span class="post-date">{{ post.date_posted }}</span>
          <span class="post-description">{{ post.description }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock content %}
