{% extends 'base.html' %}
{% load static %}

{% block title %}Home - {{ block.super }}{% endblock %}

{% block content %}
  <div id="home-banner">
    <div id="home-banner-card">
      <img class="home-banner-portrait" src="{% static 'images/portrait.jpg' %}" />

      <div id="home-banner-spacer">
        <div id="home-banner-textbox">
          <div id="home-banner-name">Mason McGough</div>
  
          <div id="home-banner-description">M.S. in Biomedical Engineering</div>
  
          <div id="home-banner-social-icons">
            <a href="https://www.linkedin.com/in/mason-mcgough-74b37551">
                <img class="social-icon" src="{% static 'vectors/iconmonstr-linkedin-4.svg' %}" />
            </a>
            <a href="https://www.instagram.com/deerclima/">
                <img class="social-icon" src="{% static 'vectors/iconmonstr-instagram-14.svg' %}" />
            </a>
            <a href="https://github.com/JimBoonie">
                <img class="social-icon" src="{% static 'vectors/iconmonstr-github-4.svg' %}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-container">
    <h2>Biography</h2>

    {% lorem 4 p %}
  </div>

  <div class="text-container">
    <h2>Timeline</h2>

    <div class="timeline-row">
      <b class="timeline-when">2017-Present:</b>
      <em class="timeline-what">Chief Technology Officer</em>
      <span class="timeline-where">at CytoInformatics, LLC</span>
    </div>
    <div class="timeline-row">
      <b class="timeline-when">2015-2016:</b>
      <em class="timeline-what">Research Assistant</em>
      <span class="timeline-where">at BICI2 Lab</span>
    </div>
    <div class="timeline-row">
      <b class="timeline-when">2015-2016:</b>
      <em class="timeline-what">MS in Biomedical Engineering</em>
      <span class="timeline-where">at University of Florida</span>
    </div>
    <div class="timeline-row">
      <b class="timeline-when">2014:</b>
      <em class="timeline-what">Image Processing Research Assistant</em>
      <span class="timeline-where">at University of North Florida</span>
    </div>
    <div class="timeline-row">
      <b class="timeline-when">2009-2013:</b>
      <em class="timeline-what">BSc in Electrical Engineering</em>
      <span class="timeline-where">at University of North Florida</span>
    </div>
  </div>

<!--   <div class="text-container">
    <h2>Projects</h2>
  </div> -->
  <div class="text-container">
    <h2>Blog</h2>
  
    <ul id="posts-list" class="posts">
      {% for post in posts %}
        {% if forloop.counter0 < max_posts %}
          <li>
            <div class="post-link-div"><a class="post-link" id="{{ post.pk }}" href="#">{{ post.title }}</a></div>
            <div class="post-date">{{ post.date_posted }}</div>
            <div class="post-description">{{ post.description }}</div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
