<nav id="navbar" class="font-roboto background-dark">
  <table class="navbar-table">
    <tr>
      <td class="navbar-menu-left">
        <a class="color-white" id="navbar-home-link" href="{% url 'home' %}">Mason</a>
      </td>

      <td class="navbar-menu-right">
        <ul>
          <li class="navbar-menu-list-item">
            <a class="color-white" href="{% url 'home' %}">Home</a>
          </li>
          <li class="navbar-menu-list-item">
            <a class="color-white" href="{% url 'blog' %}">Blog</a>
          </li>
  <!--         <li class="navbar-menu-list-item">
            <a class="color-white" href="{% url 'blog' %}">Research</a>
          </li>
          <li class="navbar-menu-list-item">
            <a class="color-white" href="{% url 'blog' %}">Hobbies</a>
          </li> -->
        </ul>
      </td>
    </tr>
  </table>
</nav>