{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" charset="utf-8">
    <title>My Photos</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/photos.css' %}">
  </head>
  <body>
    <div id="app">
      {% include 'navbar.html' %}
      <div id="img-container">
        <div id="img-carousel"></div>
        <div id="filmstrip">
          <filmstrip-thumbnail 
            v-for="img in images"
            v-bind:thumb="img"
            v-bind:key="img.id"
          ></filmstrip-thumbnail>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static 'openseadragon-bin-2.4.0/openseadragon.min.js' %}"></script>
    <script>
      var imgCarousel = new Vue({
        el: '#img-carousel',
        data: {
          src: "{% static 'images/zoom/goat.jpeg' %}"
        }
      })

      var viewer = OpenSeadragon({
        id: 'img-carousel',
        prefixUrl: "{% static 'openseadragon-bin-2.4.0/images/' %}",
        tileSources: {
          type: 'image',
          url: imgCarousel.src
        }
      });

      Vue.component('filmstrip-thumbnail', {
        props: ['thumb'],
        template: "\
        <div> \
          <img width=50 height=50 src='{{ thumb.src }}' alt='{{ thumb.alt }}' \> \
        </div>"
      })

      var filmstrip = new Vue({
        el: '#filmstrip',
        data: {
          images: [
            {
              id: 0,
              src: "{% static 'images/zoom/goat.jpeg' %}",
              alt: "Goat"
            },
            {
              id: 1,
              src: "{% static 'images/zoom/egret.jpg' %}",
              alt: "Egret"
            }
          ]
        }
      })
    </script>
  </body>

</html>