{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" charset="utf-8">
    <title>My Photos</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/photos.css' %}">
  </head>
  <body>
    <div id="app">
      {% include 'navbar.html' %}
      <div id="img-container">
        <div id="img-carousel">
          <!-- <img v-bind:src='src' alt='Image' /> -->
        </div>
        <div id="filmstrip">
          
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{% static 'openseadragon-bin-2.4.0/openseadragon.min.js' %}"></script>
    <script>
      var imgCarousel = new Vue({
        el: '#img-carousel',
        data: {
          src: 'egret.jpg'
        }
      })
      console.log(imgCarousel);

      var viewer = OpenSeadragon({
        id: 'img-carousel',
        prefixUrl: "{% static 'openseadragon-bin-2.4.0/images/' %}",
        tileSources: {
          type: 'image',
          url: "{% static 'images/zoom/goat.jpeg' %}"
        }
      });

      
    </script>
  </body>

</html>