<nav id="navbar" class="font-roboto background-dark">
  <table class="navbar-table">
    <tr>
      <td class="navbar-menu-left">
        <a class="color-white" id="navbar-home-link" href="{{ url_for('index') }}">Mason</a>
      </td>

      <td class="navbar-menu-right">
        <ul>
          <li class="navbar-menu-list-item">
            <a class="color-white" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="navbar-menu-list-item">
            <a class="color-white" href="{{ url_for('blog.index') }}">Blog</a>
          </li>
  <!--         <li class="navbar-menu-list-item">
            <a class="color-white" href="{{ url_for('blog.index') }}">Research</a>
          </li>
          <li class="navbar-menu-list-item">
            <a class="color-white" href="{{ url_for('blog.index') }}">Hobbies</a>
          </li> -->
        </ul>
      </td>
    </tr>
  </table>
</nav>